body {
    background-color: #282727;
    font-family: 'IBM Plex Serif';
}

button, input {
    width: 30px;
    height: 30px;
    margin: 0.5px;
    padding: 0.5px;
}

button {
    border-radius: 15px;
    border: none;
}

button:hover {
    cursor: pointer;
}

input {
    text-align: center;
    font-family: inherit;
    font-size: 18;
    user-select: none;
}

.envelope {
    width: 364px;
    height: 230px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("envelope.png");
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
}

.mobile-alert {
    display: none;
    position: relative;
    margin: auto;
    padding: 0 15px;
    border-radius: 10px;
    background-color: rgba(222, 202, 156, 0.707);
}

.lock {
    display: flex;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(222, 202, 156, 0.707);
}

.digit-block {
    max-width: 50px;
    display: flex;
    flex-direction: column;
}

.letter {
    display: none;
    width: 50%;
    vertical-align: middle;
    flex-direction: column;
    margin: auto auto 20 auto;
    margin-top: 50;
    padding: 30 40 60 60;
    color: black;
    text-align: justify;
    background-color: rgb(226, 231, 232);
    box-shadow: rgba(167, 195, 206, 0.423) 0px 25px 50px -12px;
}

footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #383838;
    color: white
}

footer > p {
    margin-right: 20;
}
