body {
    background-color: #282727;
    font-family: 'IBM Plex Serif';
}

button, input {
    width: 30px;
    height: 30px;
    margin: 0.5px;
    padding: 0.5px;
}

button {
    border-radius: 15px;
    border: none;
}

button:hover {
    cursor: pointer;
}

input {
    text-align: center;
    font-family: inherit;
    font-size: 18;
    user-select: none;
}

.enevelope {
    max-width: 300px;
    display: flex;
    /* flex-direction: row; */
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("envelope.png");
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
    padding: 70 120;
}

.mobile-alert {
    display: none;
}

.lock {
    display: flex;
}

.digit-block {
    max-width: 50px;
    display: flex;
    flex-direction: column;
}

.letter {
    display: none;
    color: white;
    width: 60%;
    text-align: justify;
    padding-top: 80;
    margin: auto;
}

footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #383838;
    color: white
}

footer > p {
    margin-right: 20;
}
