body {
    background-color: #282727;
}

button, input {
    width: 30px;
    height: 30px;
    margin: 0.5px;
    padding: 0.5px;
}

button {
    border-radius: 15px;
    border: none;
}

button:hover {
    cursor: pointer;
}

input {
    text-align: center;
    user-select: none;
}

#evelope {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 500px;
    background-repeat: no-repeat;
    background-image:url("evelope.png");
}

.lock {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-image:url("evelope.png");
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: none;
    padding: 70 120;
}

.digit-block {
    max-width: 50px;
    display: flex;
    flex-direction: column;
}